<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xumama.mapper.ZhucaiMapper">
  <resultMap id="BaseResultMap" type="com.example.xumama.entity.Zhucai">
    <!--@mbg.generated-->
    <!--@Table zhucai-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="jiage" jdbcType="VARCHAR" property="jiage" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, jiage
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from zhucai
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from zhucai
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.xumama.entity.Zhucai" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into zhucai (`name`, jiage)
    values (#{name,jdbcType=VARCHAR}, #{jiage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.xumama.entity.Zhucai" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into zhucai
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="jiage != null">
        jiage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="jiage != null">
        #{jiage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xumama.entity.Zhucai">
    <!--@mbg.generated-->
    update zhucai
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="jiage != null">
        jiage = #{jiage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xumama.entity.Zhucai">
    <!--@mbg.generated-->
    update zhucai
    set `name` = #{name,jdbcType=VARCHAR},
      jiage = #{jiage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zhucai
    </select>
</mapper>