<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单页面</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}">
</head>
<body>
<div style="text-align:right">
    <form method="POST">
        <button type="button" class="btn btn-Default" th:text="${'欢迎您 ~ ' + username}"></button>
        <button type="submit" class="btn btn-Default" th:formaction="@{/logout}">注销登录</button>
        <button type="submit" class="btn btn-Default" th:formaction="@{/updatePassword}">修改密码</button>
    </form>
</div>
<div th:if="${isAdmin} == 'N'">
    <div style="text-align:center" th:if="${announcement} != null">
        <h3 th:text="${announcement}"></h3>
    </div>
</div>
<div th:if="${announcement} == null">
    <form th:action="@{/addOrder}" method="POST">

        <div>
            <h2 class="bg-primary" style="text-align:center">今 日 菜 单 如 下, 欢 迎 下 单 ~</h2>
            <p class="bg-info" style="text-align:center">主菜</p>
            <table class="table table-hover" style="text-align:center">
                <thead>
                <tr>
                    <th style="width: 33%;text-align:center">菜名</th>
                    <th style="width: 33%;text-align:center">价格</th>
                    <th style="width: 33%;text-align:center"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="zhucai:${zhucais}">
                    <td th:text="${zhucai.name}"></td>
                    <td th:text="${zhucai.jiage+'元'}"></td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="zhucai" th:value="${zhucai.id}">
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="bg-info" style="text-align:center">青菜</p>
            <table class="table table-hover" style="text-align:center">
                <thead>
                <tr>
                    <th style="width: 33%;text-align:center">菜名</th>
                    <th style="width: 33%;text-align:center">价格</th>
                    <th style="width: 33%;text-align:center"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="qingcai:${qingcais}">
                    <td th:text="${qingcai.name}"></td>
                    <td>附赠</td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="qingcai" th:value="${qingcai.id}">
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="bg-info" style="text-align:center">配菜</p>
            <table class="table table-hover" style="text-align:center">
                <thead>
                <tr>
                    <th style="width: 33%;text-align:center">菜名</th>
                    <th style="width: 33%;text-align:center">价格</th>
                    <th style="width: 33%;text-align:center"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="peicai:${peicais}">
                    <td th:text="${peicai.name}"></td>
                    <td>附赠</td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="peicai" th:value="${peicai.id}">
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="bg-info" style="text-align:center" th:if="${tangshuis != null}">糖水</p>
            <table class="table table-hover" style="text-align:center" th:if="${tangshuis != null}">
                <thead>
                <tr>
                    <th style="width: 33%;text-align:center">糖水名</th>
                    <th style="width: 33%;text-align:center">价格</th>
                    <th style="width: 33%;text-align:center"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tangshui:${tangshuis}">
                    <td th:text="${tangshui.name}"></td>
                    <td th:text="${tangshui.jiage+'元'}"></td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="tangshui" th:value="${tangshui.id}">
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="bg-info" style="text-align:center">是否加辣</p>
            <table class="table table-hover" style="text-align:center">
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <label>加辣
                                    <input type="checkbox" onchange="this.nextElementSibling.value = (this.nextElementSibling.value==1)?0:1 "/>
                                    <input type="hidden" name="jialaFlag" value="0"/>
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="text-align:center" th:if="${lock=='N'}">
            <button type="submit" class="btn btn-success">提交订单</button>
        </div>
        <div style="text-align:center" th:if="${lock=='Y'}">
            <button type="button" disabled="disabled" class="btn btn-primary">订单已锁定</button>
        </div>
    </form>
</div>
</br>
<!--我的订单-->
<div th:if="${dingdans != null && dingdans.size()>0}">
    <h3 class="bg-primary" style="text-align:center">我 的 订 单</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>主菜</th>
                    <th>青菜</th>
                    <th>配菜</th>
                    <th>糖水</th>
                    <th>是否加辣</th>
                    <th>订单总价</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dingdan,itemStat:${dingdans}">
                    <td th:text="${itemStat.count}"></td>
                    <td th:text="${dingdan.zhucaiName}"></td>
                    <td th:text="${dingdan.qingcaiName}"></td>
                    <td th:text="${dingdan.peicaiName}"></td>
                    <td th:text="${dingdan.tangshuiName}"></td>
                    <td th:text="${dingdan.jialaFlag == '0'} ? '不加辣' : '加辣'"></td>
                    <td th:text="${dingdan.dingdanJiage}"></td>
                    <td>
                        <form th:action="@{/deleteOrder}" method="POST">
                            <input type="hidden" name="id" th:value="${dingdan.id}">
                            <button type="submit" class="btn btn-danger">删除</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
<!--所有订单-->
<div th:if="${allDingdans != null && allDingdans.size()>0}">
    <h3 class="bg-primary" style="text-align:center">今 日 所 有 订 单</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>下单人</th>
            <th>主菜</th>
            <th>青菜</th>
            <th>配菜</th>
            <th>糖水</th>
            <th>是否加辣</th>
            <th>订单总价</th>
            <th>下单时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dingdan,itemStat:${allDingdans}">
            <td th:text="${itemStat.count}"></td>
            <td th:text="${dingdan.dingdanUserName}"></td>
            <td th:text="${dingdan.zhucaiName}"></td>
            <td th:text="${dingdan.qingcaiName}"></td>
            <td th:text="${dingdan.peicaiName}"></td>
            <td th:text="${dingdan.tangshuiName}"></td>
            <td th:text="${dingdan.jialaFlag == '0'} ? '不加辣' : '加辣'">
            <td th:text="${dingdan.dingdanJiage}"></td>
            <td th:text="不加"></td>
            <td th:text="${dingdan.dingdanCreatetime}"></td>
            <td th:if="${isAdmin =='Y'}">
                <form th:action="@{/deleteOrder}" method="POST">
                    <input type="hidden" name="id" th:value="${dingdan.id}">
                    <button type="submit" class="btn btn-danger">删除</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${isAdmin} == 'Y'">
    <div style="text-align:center" th:if="${announcement} != null">
        <h3>今日还未制定菜单,请使用菜单管理定制菜单</h3>
    </div>
    <div style="text-align:center">
        <form method="POST">
            <button type="submit" class="btn btn-primary" th:formaction="@{/caidan}" >菜单管理</button>
        </form>
    </div>

    <button type="button" th:action="@{/total}">统计</button>

    <form method="POST">
        <input type="hidden" id="copyVal" th:value="${copyValue}"/>
        <button type="button" class="btn btn-success" onclick="copyText()">复制订单信息</button>
<!--管理功能-->
<div th:if="${isAdmin} == 'Y'" style="text-align:center">
    <h3 class="bg-primary">管 理 功 能 </h3>
    <div style="height: 50px"></div>
    <form method="POST">
        <div th:if="${announcement} != null">
            <h3>今日还未制定菜单!</h3>
            <h3>为方便点餐!请使用下方菜单管理定制菜单!</h3>
            <div style="height: 50px"></div>
        </div>
        <button type="submit" class="btn btn-primary" th:formaction="@{/caidan}" >菜单管理</button>
        <button th:if="${allDingdans.size()>0}" type="submit" class="btn btn-success" th:formaction="@{/getOrderInfo}">订单详情</button>
        <button type="submit" th:text="${lock=='Y'?'解锁订单':'锁定订单'}" th:class="${lock=='Y'?'btn btn-info':'btn btn-warning'}" th:formaction="@{/updateLock}"></button>
        <button type="submit" th:disabled="${lock=='Y'?'false':'true'}" class="btn btn-primary" th:formaction="@{/yaohaoqucan}" th:text="${lock=='Y'?'摇号取餐':'锁定订单后摇号'}" ></button>
    </form>
    <div style="height: 50px"></div>
</div>
</body>
</html>